<ion-header>
  <ion-toolbar color="danger">
    <ion-button color="primary" slot="end" (click)="goToAddNewFriend()">Add New Friend</ion-button>
    <ion-title>Friend List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

    <h3>Friend List</h3>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
  
    <ion-list *ngFor="let friend of friendList">
      <ion-item-sliding #item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://i.redd.it/hvlq7cryh4xy.png" />
          </ion-avatar>
          <ion-label>
            <h2>{{friend.friendName}}</h2>
            <p>{{friend.friendEmail}}</p>
          </ion-label>
        </ion-item>
  
        <ion-item-options side="start">
                <ion-item-option color="dark" >
                  <ion-icon name="settings"></ion-icon>
                  Edit
                </ion-item-option>
              </ion-item-options>
  
        </ion-item-sliding>
      </ion-list>

</ion-content>
