<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="danger" slot="end" (click)="goBack()">BACK</ion-button>
    <ion-title>Add List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <h3>Friend App</h3>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="friendEmail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="friendName"></ion-input>
  </ion-item>

  <ion-button color="danger" (click)="sendFriendInfo()" expand="full" fill="outline">Send</ion-button>

</ion-content>
