<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <h3>Friend App</h3>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="userEmail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="userPassword"></ion-input>
  </ion-item>

  <br />

  <ion-button color="tertiary" expand="full" fill="outline" (click)="requestLogin()">LOGIN</ion-button>
  <br />
  <ion-button color="danger" expand="full" fill="outline" (click)="goToSignUp()">SIGN UP</ion-button>

</ion-content>
